body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: rgb(139, 136, 136);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    

}

nav a {
    text-decoration: none;
    color: white;
    background-color: yellow;
    margin: 0 1rem;
    padding: 0.5rem 1rem ;
    border-radius: 4px;
}

nav a:hover{
    color: blue;
   background-color: rgb(180, 180, 3);
}

main{
    width: 80%;
    margin: 2rem auto;
}


.categoria{

    margin-bottom: 2rem;

}

.produto{
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.produto img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.preco{
    font-weight: bold;
    color: #ff9800;
    font-size: 24px;
    margin-bottom: 1rem;

}






/*Adiciona Media Query para tornar o projeto responsivo*/
@media (min-width: 768px){
    main{
        width:60%;
    }

    .categoria{
        display: grid;
        grid-template-columns: repeat(auto-fit, ninmax(250px, 1fr));
        gap: 1rem;
    }
}